{% extends 'base.html' %}
{% block content %}

<div class="container">
    <form action="" method="get">
        <div class="mb-3">
            <label for="searchvacante" class="form-label">
                Search for vacante:
            </label>
            <input type="text" class="form-control" name="searchvacante" value="{{ searchvacante }}"/>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <p>Searching for {{ searchvacante }}</p>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for vacante in page_obj %}
        <div class="card" style="width: 18rem;">
            <img src="{{ vacante.image.url }}" alt="Vacante Image">
            <div class="card-body">
                <h5 class="card-title">{{ vacante.title }}</h5>
                <p class="card-text"><strong>Compañia:</strong> {{ vacante.company }}</p>
                <p class="card-text"><strong>Locación:</strong> {{ vacante.location }}</p>
                <p class="card-text"><strong>Area:</strong> {{ vacante.area }}</p>
                <p class="card-text"><strong>Fecha Publicación:</strong> {{ vacante.date }}</p>
                <p class="card-text"><strong>Descripción: </strong>{{ vacante.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Pagination Links -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1{% if searchvacante %}&searchvacante={{ searchvacante }}{% endif %}" aria-label="First">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if searchvacante %}&searchvacante={{ searchvacante }}{% endif %}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                <a class="page-link" href="?page={{ num }}{% if searchvacante %}&searchvacante={{ searchvacante }}{% endif %}">{{ num }}</a>
            </li>
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if searchvacante %}&searchvacante={{ searchvacante }}{% endif %}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if searchvacante %}&searchvacante={{ searchvacante }}{% endif %}" aria-label="Last">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>

{% endblock content %}